{% extends 'base.html.twig' %}

{% block title %}New Anime{% endblock %}

{% block body %}
    <h1>Create new Anime</h1>

    {{ include('anime/_form.html.twig') }}

    <a href="{{ path('app_anime_index', {'work_id': work.id}) }}">back to list</a>
{% endblock %}
