<form class="comment-delete" method="post" action="{{ path('app_comment_delete', {'id': comment.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="btn">Delete</button>
</form>
