{% extends 'base.html.twig' %}

{% block title %}Edit CalendarEvent{% endblock %}

{% block body %}
    <h1>Edit CalendarEvent</h1>

    {{ include('calendar_event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_calendar-event_index') }}">back to list</a>

    {{ include('calendar_event/_delete_form.html.twig') }}
{% endblock %}
