{% extends 'base.html.twig' %}

{% block title %}New CalendarEvent{% endblock %}

{% block body %}
    <h1>Create new CalendarEvent</h1>

    {{ include('calendar_event/_form.html.twig') }}

    <a href="{{ path('app_calendar-event_index') }}">back to list</a>
{% endblock %}
