<form method="post" action="{{ path('app_work-news_delete', {'work_id': work.id, 'id': work_news.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ work_news.id) }}">
    <button class="btn">Delete</button>
</form>
